@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --yellow: #ffc548;
  --red: #be1c4e;
}
.App {
  font-family: 'Roboto', sans-serif;
  
}

/* navbar */
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  border-bottom: 1px solid lightGray;
  padding: 0 10px;
}

.navbar-link {
  padding: 20px;
  border-radius: 10px;
}
.navbar-link:hover {
  background-color: var(--yellow);
  
}
.navbar > h1 {
  flex-grow: 1;
  color: var(--red);
  font-weight: bold;
}

/* body of site */
.content-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 93vh;
}

/* cards */
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 1px solid lightGray;
}

/* homepage */

.home-container {
  height: 93vh;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* placeholder */
.placeholder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* contacts */
.contacts-container {
  
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.contact-avatar {
  display: inline-block;
  line-height: 60px;
  text-align: center;
  /* border: 1px solid lightGray; */
  background-color: var(--red);
  border-radius: 100%;
  height: 60px;
  width: 60px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.selected-contact {
  background-color: var(--yellow);
  /* border: 2px solid var(--red); */
  color: white;
}

.contacts-list {
  overflow: scroll;
  overflow-x: hidden;
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.contact-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.contact-item:hover {
  /* filter:brightness(120%) */
  background-color: var(--yellow);
  border-radius: 10px;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  height: 93vh;
}

.contact {
  display: flex;
  justify-content: center;
  
  height: 93vh;
  /* background-color: var(--red); */
  /* color: gray; */
  border-left: 1px solid lightGray;
}
.contact-title-container {
  border-bottom: 2px solid lightGray;
  border-radius: 100%;
  text-align: center;
  padding: 20px;
  
  

}

.contact-title-container > h1 {
  font-size: 40px;
  color: var(--red);
}
.contact-title-container > p {
  font-size: 20px;
}

.contact-info {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  margin: 20px;
  font-weight: bold;
  text-align: center;
}

.search-bar {
  width: 80%;
  height: 30px;
  font-size: 25px;
  font-weight: 200;
  background-color: rgb(237, 237, 237);
  /* color: rgb(158, 158, 158); */
  border-radius: 10px;
  border: none;
  margin: 40px auto 30px auto;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.search-bar:focus {
  outline: 0.1em solid var(--red);
}


/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .contacts-container {
    grid-template-columns: 1fr 2fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .contacts-container {
    grid-template-columns: 1fr;
  }
  .contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .contacts {
    height: 100%;
  }
  .contact-item {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0;
    padding: 5px 0  0  0 ;
  }
  .contact-info {
    grid-template-columns: 1fr;
  }
} 